<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta charset="utf-8" />
    <title>Food Chooser</title>

    <meta name="description" content="A Yelp based food chooser" />
    <meta name="author" content="Rodd Dastmalchi" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/500error.css') }}"
    />
  </head>

  <body>

    <div class="container">
    <div class="errorMessage">
        <p>Well RIP that wasn't supposed to happen &#128511; &#128517;</p>
        <p>You can return using the links above</p>
    </div>

  </body>
</html>
