<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Happy 6 months!</title>
    <link rel="icon" type="image/png" href="static/img/6mo/gorilla.png">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/six.css')}}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>

<body>

    <div class="container">
        <img id="header-img" src="static/img/6mo/together.png" alt="Ape" style="width:100%;">
        <div class="centered" id="happy6">
            <div class="font-effect-shadow-multiple">Happy 6 Months Bwud!</div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="static/img/6mo/wicked_chambers.png" alt="kinky" style="width: 40vw; height: 53vw">
                    </div>
                    <div class="flip-box-back">
                        <h2>Kink Levels Off the Charts</h2>
                        <p>
                            Ah yes, our favorite establishment for all things kinky. As you know, I'm the
                            kinkiest person around so dealing with your vanilla ass can be very difficult sometimes.
                            But it's ok, because it's worth it, I love you regardless even though you're definitely
                            beta. I remember when we went to Costa Mesa for vegan food (blech) and once we finished
                            we were trying to figure out where to go. We had so many options, but of course knowing us we just couldn't resist choosing Wicked Chambers. Here is to more adventures together for the most spontaneous sisters.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="static/img/6mo/ape.png" alt="kinky" style="width: 40vw; height: 53vw">
                    </div>
                    <div class="flip-box-back">
                        <h2>Apes Together Strong</h2>
                        <p>
                            When he said "apes together strong" I felt that. I appreciate all the time we spend together, even though we never know what's going on until random number generator tells us. Whether it's the 6pm dinners that I have to reschedule to 7:30 but actually wait no 8:30 and then offically show up at 9:00, to the times we open your fridge to see what we can cook together, I appreciate all those moments. Even though when I ask, "what do you have to cook with" and for some reason you always have to pull out grapes. I still struggle to understand how that works but that's ok we love that for us. Here is to more time spent together with my favorite simian sister.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="flip-box-small">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="static/img/6mo/spain.png" alt="spain" style="width: 40vw; height: 45vw">
                    </div>
                    <div class="flip-box-back">
                        <h2>Spain Without the A</h2>
                        <p>
                            Truly one of the most relatable memes out there. From your stomach
                            after a Sonic Blast or my head after whatever you're going to do to me
                            on my birthday, this is the best way to describe the most spainful situations.
                            I love trading memes with you even though you hysterically laugh at some of your
                            Instagram memes that aren't even that funny. Here is to more memes and laughs with my favorite snickering sister.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="flip-box-small">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="static/img/6mo/smiling.png" alt="smiling" style="width: 40vw; height: 45vw;">
                    </div>
                    <div class="flip-box-back">
                        <h2>Heh that's what she said</h2>
                        <p>
                            I appreciate your humor and your willingness to make a joke out of everything.
                            From playing "Leave the Door Open" for Kasey to the knowing smirk we give each other
                            when one of us makes a completely unnecessary "that's what she said" joke. That face on your face is truly iconic, and I hope to see it for a long time. Here is to more innuendos with the crudest queens.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="static/img/6mo/wallpaper.png" alt="kinky" style="width: 40vw; height: 53vw">
                    </div>
                    <div class="flip-box-back">
                        <h2>Love You Bwud</h2>
                        <p>
                            All in all, I just want to let you know I truly appreciate you bwud, I have enjoyed all of our times together over the past 6 months, I wouldn't trade them for anything. Whether it is a nice dinner (that I paid for) or a ham and cheese croissant from Seaside, what matters most to me is the person I am with, and I could not have asked for a better partner in crime. I cherish the memories we have made and look forward to all the memories that are waiting to be made. Love you lots, and happy 6 months!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body></html>
