<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Happy 3 years!</title>
    <link rel="icon" type="image/png" href="static/img/favicon.ico">
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/six.css')}}"
    />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>

<body>
<img src="static/img/3yrs/slide.svg" alt="3years" style="width: 98.9vw;">
</body>
</html>
