<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/gorilla.png') }}"
    />
    <meta charset="utf-8" />
    <title>Happy 2 years!</title>

    <meta name="description" content="Happy 2 years bruvr" />
    <meta name="author" content="Rodd Dastmalchi" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css')}}"
    />
  </head>
  <body>
    {% if showModal %}
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="flex-container">
          <img src="static/img/2yrs/{{img}}" />
          <p>{{text}}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <form class="searchForm" method="POST">
      <div class='break'>Today, I'm feeling ...</div>
      <input class="searchButton" name="type" type="submit" value="Happy" />
      <input class="searchButton" name="type" type="submit" value="Sad" />
      <input class="searchButton" name="type" type="submit" value="Memey" />
      <input class="searchButton" name="type" type="submit" value="Tired" />
      <input class="searchButton" name="type" type="submit" value="Sloshed" />
      <input class="searchButton" name="type" type="submit" value="Random" />
    </form>
    <script src="{{url_for('static', filename='js/modal.js')}}"></script>
  </body>
</html>
