.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    width: 50%;
    text-align: center;
}

#header-img {
    border: 5px solid white;
    border-radius: 10px;
}

#happy6 {
    font-size: 8vw;
    color: black;
    font-family: "Sofia", sans-serif
}

/* Clearfix (clear floats) */
.row {
    display: flex;
    justify-content: center;
}

.row > div {
    margin: 20px;
    border: 10px solid white;
    border-radius: 15px;
}

.flip-box {
    background-color: transparent;
    width: 40vw;
    height: 53vw;
    perspective: 1000px;
}

.flip-box-small {
    background-color: transparent;
    width: 40vw;
    height: 45vw;
    perspective: 1000px;
}


.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-small:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: pink;
    color: black;

}

.flip-box-back {
    background-color: lightpink;
    color: white;
    transform: rotateY(180deg);
    font-size: 1.7vw;
    font-family: "Gill Sans", sans-serif
}

.image {
    display: flex;
    justify-content: center;
    height: 100%;
}

.img {
    object-fit: contain;
}

body {
    background-color: pink;
}

* {
    box-sizing: border-box;
}
